body {
  margin: 0;
  font-size: 16px;
  background-color:aliceblue;
  font-family: 'monospace';
}

.app {
  text-align: center;
}

.carousel-img {
  width: 600px;
  justify-self: center;
}

.projects-div {
  margin-top: 10%;
  width: 80%;
  position: relative;
  left: 10%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #3498db; 
  border: 2px solid #2980b9; 
  border-radius: 50%;
  color: aliceblue;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #2c3e50; 
}

#exp-div{
  color:aliceblue;
  padding: 0;
  border-top-style:outset;
  border-top-width: 2px;
  border-top-color:#2c3e50;
  margin: 10% 15% 20px;
  background-color: #2c3e50;
  height: auto;
  border-radius: 75px;
  padding: 5%;
}



@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .company-name, .job-title, .job-description {
    text-align: center;
}

  #exp-div{
    margin: 0;
    border-radius: 0;
    padding: 0 0 10px 0;
    height: fit-content;
  }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 12px;
  }

  .projects-div {
    width: 100%; /* Adjust as needed */
    position: relative;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: auto; /* Adjust as needed */
  }

  .carousel-img {
    width: 100%; /* Adjust as needed */
  }
}

.company-name {
  color: #336699;
}

.job-title {
  color: #336699;
  margin-top: 10px;
}

.job-description {
  margin-top: 10px;
  line-height: 1.5;
}


.section.top {
  opacity:0;
  transform: translateX(100px);
  transition: opacity 0.8s, transform 0.8s;
  margin: 0 10% 20px;
}

.section.middle {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 0.8s, transform 0.8s;
  margin: 0 10% 20px;
}

.section.bottom {
  opacity: 0;
  transform: translateX(300px);
  transition: opacity 0.8s, transform 0.8s;
  margin: 0 10% 20px;
}

.section.top.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.section.middle.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.section.bottom.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.experience {
  margin: 0 10% 20px;
  background-color: #2c3e50;
  height: 100vh;
}