body {
  margin: 0;
  font-size: 16px;
  background-color:aliceblue;
  font-family: 'monospace';
}

.app {
  text-align: center;
}

.carousel-img {
  width: 400px;
  justify-self: center;
}

.projects-div {
  width: 80%;
  position: relative;
  left: 10%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #3498db; 
  border: 2px solid #2980b9; 
  border-radius: 50%;
  color: aliceblue;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #2c3e50; 
}

.exp-div{
  margin: 20px;
  padding: 0;
  border-top-style:outset;
  border-top-width: 2px;
  border-top-color:#2c3e50;
}



@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 12px;
  }

  .projects-div {
    width: 100%; /* Adjust as needed */
    position: relative;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: auto; /* Adjust as needed */
  }

  .carousel-img {
    width: 100%; /* Adjust as needed */
  }
}

.section.top {
  opacity:0;
  transform: translateX(100px);
  transition: opacity 0.8s, transform 0.8s;
}

.section.middle {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 0.8s, transform 0.8s;
}

.section.bottom {
  opacity: 0;
  transform: translateX(300px);
  transition: opacity 0.8s, transform 0.8s;
}

.section.top.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.section.middle.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.section.bottom.slide-in {
  opacity: 1;
  transform: translateX(0);
}

